<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.rmakowiecki.smartalarm">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true"/>

    <application
        android:name=".SmartAlarmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.rmakowiecki.smartalarm.feature.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.rmakowiecki.smartalarm.feature.auth.AuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="pl.rmakowiecki.smartalarm.feature.setup.SetupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="pl.rmakowiecki.smartalarm.feature.main.HomeActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.rmakowiecki.smartalarm.feature.incidentdetails.IncidentDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_incident_details"
            android:parentActivityName="pl.rmakowiecki.smartalarm.feature.main.HomeActivity"
            android:theme="@style/FullscreenGalleryTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.rmakowiecki.smartalarm.feature.main.HomeActivity"/>
        </activity>
    </application>

</manifest>